@import "tailwindcss";

body {
    background-color: #1e0e1c;
    color: white;
}

@theme {
  --color-neome-pink: #e87c7c;
  --color-neome-dark-pink: #e35656;
}

#root {
    padding: 0;
    margin: 0;
}
